
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse

[alias]
	commend = commit --amend --no-edit
	it = !git init && git commit -m “root” --allow-empty
	st = status
	ci = commit
	br = branch
	co = checkout
	unstage = reset HEAD --

[user]
	email = adin.vadim@gmail.com
	name = Vadim Kostin

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	symlinks = true
[coderabbit]
	machineId = cli/bf443807d3e340a6baf82f5734ec9fdf
